$login-image-dimension: 20rem;

.login-image {
  position: relative;
  left: calc(50% - (#{$login-image-dimension} / 2));
  max-height: $login-image-dimension;
  max-width: $login-image-dimension;
  z-index: 1;
}
