.text-input {
  border: 0.1rem solid $input-border;
  height: 7.5rem;
  font-size: $font-size-xxxl;
  padding: $s-size;
}

.text-input:focus {
  outline: 0.15rem solid $shadow-color;
}

.last-input {
  margin-bottom: $l-size;
}
